<?php
return array(
	'all' => array(
		'log_php_errors' => false,
		'global_namespace' => false,
		'preload' => false,
		'log' => false,
		'debug' => false,
		'key'	=>	'_KEY_',
		'bundlesdirs' => array(
			_DIR_.'app',
		),
		'bundles' => array(
			new \Asgard\Http\Bundle,
			new \Asgard\Entity\Bundle,
			new \Asgard\Cache\Bundle,
			new \Asgard\Validation\Bundle,
			new \Asgard\Utils\Bundle,
			new \Asgard\Orm\Bundle,
			new \Asgard\Hook\Bundle,
			new \Asgard\Form\Bundle,
			new \Asgard\Files\Bundle,
			new \Asgard\Db\Bundle,
			new \Asgard\Behaviors\Bundle,
			new \Asgard\Auth\Bundle,
		),
		'imagecache'	=>	false,
		'locale'	=>	'en',
		'locales'	=>	array(
			'fr', 'en'
		),
		'cache_driver'	=>	null,
		'profiler'	=>	false,
		'error_display' => true,
		'debug' => true,
	),
	'dev'	=>	array(
		'phpcache'	=>	false,
		// 'phpcache'	=>	true,
		'profiler'	=>	false,
		// 'profiler'	=>	true,
	),
	'test'	=>	array(
		'phpcache'	=>	false,
	),
	'prod'	=>	array(
		'debug' => false,
		'error_display' => false,
	),
);