<?php
return array(
	'dev' => array(
		'database' => array(
			'host'			=>	'_HOST_',
			'user'	=>	'_USER_',
			'password'	=>	'_PASSWORD_',
			'database'	=>	'_NAME_',
			'prefix'		=>	'_PREFIX_',
		),
	),
	'test' => array(
		'database' => array(
			'host'			=>	'localhost',
			'user'	=>	'root',
			'password'	=>	'',
			'database'	=>	'asgard',
			'prefix'		=>	'',
		),
	),
	'prod' => array(
		'database' => array(
			'host'			=>	'localhost',
			'user'	=>	'root',
			'password'	=>	'',
			'database'	=>	'asgard',
			'prefix'		=>	'',
		),
	),
);